.about-us {
}

.test {
  display: inline-block;
  vertical-align: top;
}

.test:not(:last-child) {
  margin-right: 40px;
}

.about-us__bq {
  margin: 0;
  width: 469px;
  height: 191px;
  margin-bottom: 41px;
}

.about-us__paragraph {
  font-size: 20px;
  line-height: 28px;
  width: 500px;
  height: 111px;
}

.about-us__paragraph:not(:last-child) {
  margin-bottom: 38px;
}

.about-us__quote {
  quotes: \201e;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: #6c0287;
  white-space: pre-line;
  max-width: 1125px;
}

.about-us__cite {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
  width: 1300px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.about-us__image {
  display: block;
  margin: 0 0 auto;
  float: right;
}

.about-us__decrioption {
  display: inline-block;
  max-width: 280px;
  padding-left: 30px;
  white-space: pre-line;
}

.about-us__icon {
  width: 80px;
  height: 80px;
  border-radius: 45px;
  object-fit: cover;
  object-position: top;
}

.about-us__photo {
  width: 600px;
  height: 596px;
}
