.contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__list {
  text-decoration: none;
  margin-bottom: 40px;
}

.contacts__item {
  text-decoration: none;

  position: relative;
  max-width: 370px;
  padding-left: 50px;
  margin-bottom: 15px;
}

.contacts__links {
  line-height: 38px;
}

.contacts__img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-child) {
  margin-right: 27px;
}

.contacts__location {
  padding-left: 15px;
  margin-top: 0;
  padding-top: 0;
}

.contacts__location_street {
  padding-left: 91px;
}
