.comment__list {
  max-width: 980px;
  margin: 0 100px;
}

.comment__item {
  display: flex;
}

.comment__item:not(:last-child) {
  margin-bottom: 50px;
}

.comment__image {
  margin-bottom: 11px;
}

.comment__box-img {
  width: 280px;
  position: relative;
  margin-right: 20px;
}

.comment__box-img:after {
  content: "";
  display: inline-block;
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(196, 196, 196, 0) 0%,
    rgba(108, 2, 135, 0.5) 100%
  );
  border-radius: 50%;
}

.comment__review {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  text-align: left;
  display: flex;
}

.comment__name {
  clear: left;
  padding-left: 60px;
  padding-top: 11px;
}

.comment__box-name {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  min-width: 300px;
}
