.faq__list:not(:last-child) {
  margin: 0;
  margin-bottom: 50px;
}

.faq__item {
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  line-height: 46px;
  list-style: none;
  transition-duration: 1s;
  transition-property: background-image;
  cursor: pointer;
}

.faq__btn {
  max-width: 1040px;
  text-align: left;
}

.faq__btn-white {
  color: white;
}

.faq__item:not(:last-child) {
  margin-bottom: 20px;
}

.faq__item:nth-child(even) {
  color: #fff;
  background-color: #440f51;
}

.faq__item:after {
  float: right;
  width: 46px;
  height: 46px;
}

.faq__item-violet:after {
  content: "";
  background-image: url("../img/open/open-purple.svg");
  transition-duration: 1s;
  transition-property: background-image;
}

.faq__item-violet:hover:after {
  background-image: url("../img/open/open-purple-hover.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  transition-duration: 1s;
  transition-property: background-image;
}

.faq__item-violet:active:after {
  background-image: url("../img/open/open-purple-active.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  transition-duration: 1s;
  transition-property: background-image;
}

.faq__item-white:after {
  content: "";
  background-image: url("../img/open/open.svg");
  transition-duration: 1s;
  transition-property: background-image;
}

.faq__item-white:hover:after {
  background-image: url("../img/open/open-hover.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  transition-duration: 1s;
  transition-property: background-image;
}

.faq__item-white:active:after {
  background-image: url("../img/open/open-active.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  transition-duration: 1s;
  transition-property: background-image;
}
