.old-vibes {
  background-image: url("../img/rooms/80-vibes.png");
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.star-wars {
  background-image: url("../img/rooms/star-wars.png");
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.wild-west {
  background-image: url("../img/rooms/wild-west.png");
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.neon-style {
  background-image: url("../img/rooms/neon-style.png");
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.halls__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.halls__item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  max-width: 580px;
}

.halls__link {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  padding: 125px 0;
  text-decoration: none;
  color: var(--main-color-six);
  text-align: center;
  transition-duration: 1s;
  transition-property: color;
}

.halls__link:hover {
  color: var(--main-color-two);
}

@media (max-width: 1100px) {
  .halls__item {
    max-width: 500px;
    height: 267px;
  }

  .halls__link {
    font-size: 50px;
    line-height: 60px;
    padding: 100px 0;
  }
}

@media (max-width: 850px) {
  .halls__item {
    max-width: 400px;
    height: 200px;
  }

  .halls__link {
    font-size: 40px;
    line-height: 50px;
    padding: 80px 0;
  }
}

@media (max-width: 480px) {
}
