.old-vibes {
  background-image: url("../img/rooms/80-vibes.png");
}
.star-wars {
  background-image: url("../img/rooms/star-wars.png");
}
.wild-west {
  background-image: url("../img/rooms/wild-west.png");
}
.neon-style {
  background-image: url("../img/rooms/neon-style.png");
}

.halls__item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 580px;
}

.halls__item:not(:nth-child(2n)) {
  margin-right: 15px;
}

.halls__link {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  padding: 125px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition-duration: 1s;
  transition-property: color;
}

.halls__link:hover {
  color: #6c0287;
}

.halls__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}
