header {
  padding-top: 30px;
  padding-bottom: 50px;
}

.burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  transition-duration: 0.2s;
  transition-property: color;
}

.header__image {
  display: block;
  width: 120px;
  height: 66px;
}

.header__item {
  min-width: 63px;
  min-height: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__link:hover {
  color: var(--main-color-two);
}

.header__link:focus {
  color: var(--main-color-two);
}

.header__link:active {
  color: var(--main-color-three);
}

.header__button-top {
  width: 280px;
  height: 55px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0em;
  color: inherit;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid var(--main-color);
  text-transform: uppercase;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, border;
  transform: translateY(2px);
  position: relative;
}

.header__button-top:hover {
  background-color: var(--main-color-two);
  border: 3px solid var(--main-color-two);
}

.header__button-top:focus {
  background: var(--main-color-two);
  border: none;
}

.header__button-top:active {
  background-color: var(--main-color-three);
  border: 1px solid #000000;
}

@media (max-width: 1100px) {
  .header__list {
    display: flex;
    gap: 20px;
  }
  .header__image {
    display: block;
    width: 87px;
    height: 55px;
  }
  .header__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 15px;
  }

  .header__button-top {
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: inherit;
    border-radius: 10px;
    border: 3px solid var(--main-color);
    text-transform: uppercase;
  }
}

@media (max-width: 850px) {
  .header__burger {
    background-image: url(/img/menu768.svg);
    width: 54px;
    height: 29px;
  }

  .header__navigation {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__burger {
    background-image: url(/img/menu320.svg);
    width: 39px;
    height: 20px;
  }

  .header__image {
    width: 66px;
    height: 42px;
  }

  .header__button-top {
    display: none;
  }
}
