.vr {
  background-image: url("../img/our/vr.png");
}
.audio {
  background-image: url("../img/our/dj.png");
}
.karaoke {
  background-image: url("../img/our/karaoke.png");
}
.table-game {
  background-image: url("../img/our/domino.png");
}
.cinema {
  background-image: url("../img/our/netflix.png");
}
.game-station {
  background-image: url("../img/our/playstation.png");
}

.our__list {
  display: flex;
  justify-content: space-between;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.our__item {
  width: 380px;
  height: 228px;
  background-color: wheat;
  transition-duration: 1s;
  transition-property: transform;
  transition-delay: 0.2s;
  position: relative;
}

.our__item:hover {
  transform: scale(1.1);
}

.our__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  position: absolute;
  max-width: 300px;
  bottom: 40px;
  left: 40px;
}
