.vr {
  background-image: url("../img/our/vr.png");
  grid-column: 1/2;
  grid-row: 1/2;
}
.audio {
  background-image: url("../img/our/dj.png");
  grid-column: 2/3;
  grid-row: 1/2;
}
.karaoke {
  background-image: url("../img/our/karaoke.png");
  grid-column: 3/4;
  grid-row: 1/2;
}
.table-game {
  background-image: url("../img/our/domino.png");
  grid-column: 1/2;
  grid-row: 2/3;
}
.cinema {
  background-image: url("../img/our/netflix.png");
  grid-column: 2/3;
  grid-row: 2/3;
}
.game-station {
  background-image: url("../img/our/playstation.png");
  grid-column: 3/4;
  grid-row: 2/3;
}

.our {
  max-height: 816px;
}

.div__our {
  height: 100%;
}

.our__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 20px;
}

.our__item {
  max-width: 380px;
  height: 228px;
  background-color: wheat;
  transition-duration: 1s;
  transition-property: transform;
  transition-delay: 0.2s;
  position: relative;
}

.our__item:nth-child(3n - 1) {
  transform: translateY(70px);
}

.our__item:hover {
  transform: scale(1.1);
}

.audio:hover,
.cinema:hover {
  transform: translateY(70px) scale(1.1);
}

.our__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  position: absolute;
  max-width: 300px;
  bottom: 40px;
  left: 40px;
}

@media (max-width: 1100px) {
  .our__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 20px;
  }

  .our__item {
    max-width: 287px;
    height: 172px;
    background-size: contain;

    background-repeat: no-repeat;
  }
  .our__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    max-width: 300px;
    bottom: 30px;
    left: 20px;
  }
  .our__item:nth-child(3n - 1) {
    transform: translateY(45px);
  }
}

@media (max-width: 850px) {
  .our__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 20px;
  }
  .vr {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .audio {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .karaoke {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .table-game {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .cinema {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .game-station {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .our__item {
    max-width: 334px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .our__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    max-width: 300px;
    bottom: 30px;
    left: 20px;
  }
  .our__item:nth-child(3n - 1) {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .our__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  .our__item {
    width: 135px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .our__text {
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    max-width: 120px;
    left: 10px;
    top: 50%;
  }
}
