* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1b1a1b;
    color: #fff
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    padding-left: 0;
}

section:not(:last-child) {
    margin-bottom: 100px;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 60px;
}

.block-header {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.game-over {
    position: relative;
    min-height: 800px;
}

.game-over::after {
    content: "";
    position: absolute;
    background-image: url("/img/game-over.png");
    right: 0;
    bottom: 0;
    width: 675px;
    height: 762px;
}

.title {
    display: block;
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

.desc {
    display: block;
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
}

.banner-image {
    display: inline;
    width: 675px;
    height: 762px;
    position: absolute;
    left: 60%;
}

.old-vibes {
    background-image: url(/img/rooms/80-vibes.png);
}
.star-wars {
    background-image: url(/img/rooms/star-wars.png);
}
.wild-west {
    background-image: url(/img/rooms/wild-west.png);
}
.neon-style {
    background-image: url(/img/rooms/neon-style.png);
}

.halls {
    position: relative;
    height: 710px;
    margin-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 0;
}

.halls-name {
    text-transform: uppercase;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    padding-top: 50%;
    text-decoration: none;
    color: #fff;
    white-space: break-spaces;
}

.violet {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: #6C0287;
}

.we-are {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 185px;
}

.arcadii {
    display: inline-block;
    margin: 0 0 auto;
    overflow: hidden;
}

.creator {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    background-size: cover;
    background-position: right;
}

.contacts {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.contacts-logo {
    text-decoration: none;
}

.img-link {
    display: inline-block;
    padding-right: 27px;
}

.call-us {
    text-decoration: none;
}


