:root {
  --main-color: #cd06ff;
  --main-color-two: #6c0287;
  --main-color-three: #640aa3;
  --main-color-four: #840aa3;
  --main-color-five: #eadeed;
  --main-color-six: #fff;
  --main-color-seven: #000000;
  --mail-color-eight: #1b1a1b;
}
